.input-wrapper {
    margin-bottom: 1.5rem;
}
.label-input {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.custom-input {
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding: 0.2rem 0rem;
    font-size: 1rem;
    opacity: 0.8;
    range: none;
}

.custom-input:focus {
    outline: none;
    opacity: 1;
    transition: all 0.2s;
}   

.custom-input::placeholder {
    color: grey;
} 

/* Remove arrows from number input in Chrome, Safari, Edge, and Opera */
.custom-input::-webkit-outer-spin-button,
.custom-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from number input in Firefox */
.custom-input[type="number"] {
  -moz-appearance: textfield;
}

