VITE_FIREBASE_API_KEY="AIzaSyB0lZ9wwSjpZ3tfhdpLWoR49M_QYzq9_Es"
VITE_FIREBASE_APP_ID="1:782898487645:web:fd63154611bce38180c8b4"
VITE_FIREBASE_AUTH_DOMAIN="spendly-your-expense-tracker.firebaseapp.com"
VITE_FIREBASE_MEASUREMENT_ID="G-EX5LRBVMJ5"
VITE_FIREBASE_MESSAGING_SENDER_ID="782898487645"
VITE_FIREBASE_PROJECT_ID="spendly-your-expense-tracker"
VITE_FIREBASE_STORAGE_BUCKET="spendly-your-expense-tracker.appspot.com"
VITE_CLERK_PUBLISHABLE_KEY="pk_test_aGVhbHRoeS1zcGFuaWVsLTc2MDMuY2xlcmsuYWNjb3VudHMuZGV2JA"